* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 2px solid black;
}
body, html {
    height: 100%;
}
body {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}
body > div {
    flex: 1;
    display: flex;
    padding: 10px 80px 0;
}

